.list-header {
  background: $light-grey;
  border: 1px solid darken($color: $light-grey, $amount: 7%);
  color: $reg-grey;
  display: flex;
  justify-content: space-between;
  padding: $s-size $m-size;
}